name: Build and Push

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 0" # Rebuild the image once a week

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      id-token: write
      
    steps:
    - name: Login to Docker Hub
      uses: grafana/shared-workflows/actions/dockerhub-login@c6d954f7cd9c0022018982e01268de6cb75b913c # dockerhub-login/v1.0.2
      if: github.event_name != 'pull_request'
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
          persist-credentials: false
    - run: make build
    - run: make push
      if: github.event_name != 'pull_request'
